<% provide :title, t("all_categories") %>
<h1><%= t("all_categories") %></h1>

<%= will_paginate %>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
      <%= link_to image_for(category, 150, 300), category %>
      <%= link_to t("edit"), edit_category_path(category) %>
      <%= link_to t("delete"), category, method: :delete,
                                  data: { confirm: t("confirm") } %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>