<footer class="footer">
  <small>
    The <%= link_to t("framgia"), "#" %>
    by <%= link_to t("author"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("about"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>